header {
	background: skyblue;
}

nav {
	margin: 0 auto;
	width: 400px;
	height: 50px;
	background: blue;
}


section {
	background: lime;
	width: 100%;
	height: 150px;

}

section {
	background: lime;
	width: 100%;
	height: 150px;
}
footer {
	background: purple;
	width: 100%;
	height: 150px;
}